<!DOCTYPE html>
<html>
    <head>
        <title>Agregar Canción</title>
    </head>
    <body>
        <div class="container">
            <h3><a href="/Admin/Admin/playlist">Playlist</a></h3>
            <h1>Agregar nueva canción</h1>
            <form action="/Admin/Admin/save" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Nombre</td>
                            <td><input type="number" name="codigo" /></td>
                        </tr>
                        <tr>
                            <td>Artista</td>
                            <td><input type="text" name="descripcion" /></td>
                        </tr>
                        <tr>
                            <td>Link</td>
                            <td><input type="number" name="precio" /></td>
                        </tr>
                        <tr>
                            <td>Emoción</td>
                            <td><input type="number" name="stock" /></td>
                        </tr>
                        <tr>
                            <td>Género</td>
                            <td><input type="text" name="marca" /></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Grabar" /></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </body>
</html>
