<h1>Welcome to iMusicBot</h1>

<script src="https://account.snatchbot.me/script.js"></script><script>window.sntchChat.Init(257382)</script>


<h1 style="color: #5e9ca0;">iMusicBot</h1>
<p>&nbsp;</p>
<h2 style="color: #2e6c80;">Habla con nuestro chatbot<img style="float: left;" src="https://html-online.com/img/01-interactive-connection.png" alt="interactive connection" width="45" /></h2>
<p>&nbsp;</p>
<table style="border-collapse: collapse; width: 100%;" border="0">
<tbody>
<tr>
<td style="width: 25%;"><a href="/musicbot/animo">Análisis de estado de ánimo</td>
<td style="width: 25%;"><a href="/musicbot/playlist">Playlists recomendadas</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>

